html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-right: 0.15rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-left: 0.15rem
}

.myAppDemoWT .myCustomText {
   display: inline-block;
   font-weight: bold;
}

.myAppDemoWT .myCustomButton1.sapMBtn {
   text-align: center;
}